body {
    background-image: url("https://cdn.britannica.com/39/7139-050-A88818BB/Himalayan-chocolate-point.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background: size 180vh;
    height: 50vh; */
}

/* .content {
    height: 50vh;
    overflow-y: auto;
} */


.container-niga,
.container {
    display: block;
}

.container-niga {
    font-family: 'Nova Oval', cursive;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 70px;
    float: left;
    width: 700px;
    padding: 10px;
    text-align: center;
}

/* .blank-container {
    height: 100vh;
    background-color: white;
} */

.page-header {
    text-align: center;
    color: azure;
    font-weight: bold;
    font-size: 10em;

}