{% extends "base.html" %}
{% load bootstrap5 %}

{% block rescue %}

<h1>All Rescues</h1>
{% if user.membership_stat == 'N' %}
<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{% url 'rescues:rescue_apply' %}" class="btn btn-primary btn-lg">apply for being a rescuer</a>
        </div>
        {% elif user.membership_stat == 'P' %}
        <p>Admin will preview your request</p>
        {% elif user.membership_stat == 'R' %}
        <p>You are a rescuer!!</p>
        {% endif %}
        <div class="col-auto">
            <a href="{% url 'rescues:rescue_post' %}" class="btn btn-primary btn-lg">post for rescueing</a>
        </div>
    </div>
</div>

{% if user.membership_stat == 'R' %}
{% if rescues %}

<div class="row" style="margin-left: 50px;">

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Location</th>
                <th>Image</th>
                <th>Animal Name</th>
                <th>Contact</th>
                <th>Condition</th>
            </tr>
        </thead>
        <tbody>
            {% for object in rescues %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.rescue_location }}</td>
                <td>
                    {% if object.rescue_image %}
                    <img src="{{ object.rescue_image.url }}" alt="An image" style="height: 10rem; width: 10rem;">
                    {% endif %}
                </td>
                <td>{{ object.animalName }}</td>
                <td>{{ object.requester_contact }}</td>
                <td>{{ object.animal_condition }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>


</div>



{% else %}
<p>There are no posts yet.</p>
{% endif %}
{% elif user.membership_stat == 'N' %}
<p>You need to apply for being a rescuer</p>
{% endif %}

{% endblock %}